@import url("styles.css");

:root {
    --accent: #00aaff;
    --accent-light: #80e6ff;
    --text: #e6fff9;
}

body {
    background: radial-gradient(circle at 25% 25%, #001f33, #000);
}

main {
    background: rgba(200, 255, 255, 0.05);
    box-shadow: 0 0 20px rgba(0, 170, 255, 0.3);
}

header {

    border-bottom: 2px solid var(--accent);
}

header h1,
h2,
h3,
footer {
    color: var(--text);
    text-shadow: 0 0 10px var(--accent-light);
}

nav a {
    border: 1px solid var(--accent-light);
}

nav a:hover {
    background: var(--accent);
    box-shadow: 0 0 10px var(--accent-light);
}

section img {
    box-shadow: 0 0 20px var(--accent-light);
}