@import url("styles.css");

:root {
    --accent: #4169e1;
    --accent-light: #7ba7ff;
    --text: #e0e9ff;
}

body {
    background: radial-gradient(circle at 25% 25%, #000a33, #000);
}

main {
    background: rgba(100, 149, 237, 0.05);
    box-shadow: 0 0 25px rgba(65, 105, 225, 0.3);
}